---
import Layout from "../components/layout.astro";
---

<Layout title="404 Page Not Found - Journal">
    <main>
    <p style="text-align: center;">
    <em>All who wander are most likely lost.</em></p>
    </main>
</Layout>
